.layout-container {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;

    .main-container {
        grid-area: main;
        margin: 0 20px 20px 20px;
    }


    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        left: 100px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #68B984;
    }

}