@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

Link {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

p.num {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

p.card-num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

button {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.analytics-widget-container h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.analytics-widget-container p.num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

.analytics-card-default {
  background: #D6DCD8;
  height: 271px;
  padding: 10px;
  border-radius: 10px;
}

.available-items-card {
  position: relative;
}
.available-items-card .available-items-chart {
  text-align: center;
  margin-top: 20px;
}
.available-items-card .available-items-card-num {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
}

.top-orders-card .top-orders-card-list {
  margin-top: 20px;
}
.top-orders-card .top-orders-card-list ol {
  line-height: 30px;
  margin-left: 20px;
}

.inventory-shrinkage-card,
.inventory-turnover-card,
.stockout-rate-card {
  position: relative;
}
.inventory-shrinkage-card .scale-chart-container,
.inventory-turnover-card .scale-chart-container,
.stockout-rate-card .scale-chart-container {
  margin: 0 auto;
  margin-top: 50px;
}

.scale-num {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 5px;
}
.scale-num .indicator {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: green;
  font-size: 10px;
}

.emergency-require-card .emergency-require-item-list ol {
  line-height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.emergency-require-card .emergency-require-item-list ol .item-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-container {
  background: #D6DCD8;
  width: 200px;
  height: 250px;
  padding: 12px;
  border-radius: 10px;
  display: grid;
  gap: 12px;
}
.report-container .report-header p.date {
  opacity: 0.5;
  font-size: 14px;
  margin-top: 14px;
}
.report-container div.tag-container .tag {
  background: #68B984;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}
.report-container .report-card-deets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-container .report-card-deets p.file-size {
  font-size: 14px;
}
.report-container .report-card-deets button {
  font-size: 14px;
}/*# sourceMappingURL=Cards.css.map */