@import '../../../styles/colors/colors.scss';

.reports-page {
    background-color: $background-color;

    .main-container {
        .page-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .page-buttons {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }

    }
}