@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

Link {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

p.num {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

button {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.table-container {
  background-color: #1F8A70;
  height: 55vh;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
}
.table-container .log-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.table-container .log-table thead th {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.table-container .log-table tbody tr {
  font-size: 14px;
  font-weight: 400;
}
.table-container .log-table th,
.table-container .log-table td {
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
.table-container .log-table tfoot tr:last-child td {
  border-bottom: 0;
}

.all-items-table-container {
  background-color: #1F8A70;
  height: 75vh;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
}
.all-items-table-container .all-items-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.all-items-table-container .all-items-table thead th {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  width: 180px;
}
.all-items-table-container .all-items-table tbody tr {
  font-size: 14px;
  font-weight: 400;
}
.all-items-table-container .all-items-table th,
.all-items-table-container .all-items-table td {
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
.all-items-table-container .all-items-table tfoot tr:last-child td {
  border-bottom: 0;
}

.pagination {
  margin-bottom: 20px;
}
.pagination input {
  background-color: #D6DCD8;
  border: none;
  padding: 6px;
  border-radius: 10px;
}
.pagination select {
  background-color: #D6DCD8;
  border: none;
  padding: 6px;
  border-radius: 10px;
}

.all-logs-table-container {
  background-color: #1F8A70;
  height: 75vh;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
}
.all-logs-table-container .all-logs-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.all-logs-table-container .all-logs-table thead th {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.all-logs-table-container .all-logs-table tbody tr {
  font-size: 14px;
  font-weight: 400;
}
.all-logs-table-container .all-logs-table th,
.all-logs-table-container .all-logs-table td {
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
.all-logs-table-container .all-logs-table tfoot tr:last-child td {
  border-bottom: 0;
}

.orders-table-container {
  background-color: #1F8A70;
  height: 75vh;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
}
.orders-table-container .orders-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.orders-table-container .orders-table thead th {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}
.orders-table-container .orders-table tbody tr {
  font-size: 14px;
  font-weight: 400;
}
.orders-table-container .orders-table th,
.orders-table-container .orders-table td {
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
}
.orders-table-container .orders-table tfoot tr:last-child td {
  border-bottom: 0;
}/*# sourceMappingURL=Tables.css.map */