$primary-color: #1F8A70;
$secondary-color: #68B984;
$tertiary-color: #D6DCD8;
$text-color: #000000;
$text-color-light: white;
$background-color: #EDE4E0;
$container-background: #F2E9E5;
$table-background: #1F8A70;
$form-gradient: linear-gradient(to right top, #92c1a2, #87bd96, #7db889, #73b47b, #6baf6d);
$card-gradient: linear-gradient(285.25deg, #92C1A2 30.98%, rgba(107, 175, 109, 0.43) 77.71%);
$background-gradient: conic-gradient(from 126.2deg at 50% 50%, #1F8A70 0deg, rgba(76, 167, 124, 0.54) 178.12deg, rgba(103, 184, 132, 0.278471) 295.36deg, #1F8A70 360deg);
$user-registration-login-gradient: linear-gradient(to bottom, #4ca77a, #5fb487, #70c094, #82cda1, #93daaf, #90d7ae, #8dd5ac, #8ad2ab, #72c09c, #5aae8d, #3f9c7e, #1f8a70);