$primary-color: #1F8A70;
$secondary-color: #68B984;
$text-color: #000000;
$background-color: #EDE4E0;
$container-background: #D6DCD8;
$table-background: #D6DCD8;
$card-gradient: linear-gradient(285.25deg, #92C1A2 30.98%, rgba(107, 175, 109, 0.43) 77.71%);
$backgorund-gradient: conic-gradient(from 126.2deg at 50% 50%, #1F8A70 0deg, rgba(76, 167, 124, 0.54) 178.12deg, rgba(103, 184, 132, 0.278471) 295.36deg, #1F8A70 360deg);