@import '../colors/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: Montserrat,
sans-serif;

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

Link {
    text-decoration: none;
    color: $text-color;
}

h1 {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

h2 {
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}

h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

p.num {
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
}

p.card-num {
    font-weight: 600;
    font-size: 30px;
    line-height: 73px;
    color: #000000;
}

button {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.analytics-widget-container {
    h3 {
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        color: #000000;
    }

    p.num {
        font-weight: 600;
        font-size: 30px;
        line-height: 73px;
        color: #000000;
    }
}