@import '../colors/Colors.scss';
@import '../typography/Typography.scss';

button {
    padding: 13px;
    background: #92C1A2;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    &:hover {
        background: $card-gradient;
    }
}

.analytics-date-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.manage_delivery {
    font-size: 12px;
    border-radius: 8px;
    background: $secondary-button-color;
    color: $links-color;
    padding: 5px 8px;
    font-weight: 500;

    &:hover {
        background: none;
    }
}

.default_item_button {
    font-size: 12px;
    border-radius: 8px;
    background: $secondary-button-color;
}