@import '../../../styles/colors/colors.scss';

.settings-page {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;

    .main-container {
        grid-area: main;
        margin: 0 20px 10px 10px;

        .settings_card_container {
            background: $background-color-light;
            border-radius: 10px;
            height: 70vh;
            padding: 10px;
            margin-top: 20px;


            .cards_container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
                /* optional, adds spacing between grid items */
            }

            .card {
                padding: 10px;

                .container {
                    display: flex;
                    gap: 10px;
                    padding: 10px;

                    &:hover {
                        background: $text-color-light;
                        border-radius: 10px;
                    }

                    .left_container {

                        .icon_container {
                            background: rgb(235, 232, 232);
                            padding: 8px 10px;
                            color: $primary-color;
                            border-radius: 8px;
                        }
                    }

                    p {
                        font-size: 14px;
                        padding-top: 7px;
                    }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        left: 100px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #A5A5A5;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #5292DE;
    }
}