@import '../../../styles/colors/colors.scss';

.sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 180px;
    background-color: $container-background;
    color: $text-color;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    position: fixed;

    .error_container {
        margin: 20px;
        text-align: center;
        position: absolute;
        top: 77%;

        .error {
            background: #efcdcd;
            border-radius: 12px;
            color: #ff0000;
            border: 1px solid red;
            padding: 10px;
        }
    }

    .sidebarContainer {
        padding-right: 20px;

        .sidebar-title {
            margin-bottom: 30px;
            margin-top: 10px;

            .sidebar-brand {
                text-align: center;
            }

            .sidebar-brand>img {
                width: 100px;
            }
        }

        .list-scroll {
            overflow-y: visible;
            overflow-x: hidden;
        }

        ul.sidebar-list {
            margin-top: 40%;
        }

        .sidebar-list .sidebar-list-item {
            font-size: 17px;
            list-style: none;
            margin-left: 10px;
            padding-bottom: 12px;
            cursor: pointer;
            font-weight: 700;
        }

        .sidebar-list .list-item-end {
            position: absolute;
            bottom: 20px;
        }

        .sidebar-list .sidebar-list-item {
            color: black;
            margin-bottom: 15px;

            .iconHead {
                font-size: 17px;
                border-radius: 22px;
                padding-right: 10px;
            }

            span {
                margin-top: 10px;
            }

            button {
                &:hover {
                    color: $secondary-color;
                }
            }

            &:hover {
                color: $secondary-color;
            }
        }
    }
}