@import '../../../styles/colors/colors.scss';
@import '../../../styles/typography/Typography.scss';


.generalSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

        .generalSetting-header {
            margin-bottom: 50px;
        }

        form {
            display: flex;
            justify-content: center;

            .button {
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
            }

            .company_information,
            .company_address_information,
            .standards_formats,
            .store_currency {
                display: grid;
                grid-template-columns: 300px 1fr;
                gap: 100px;
                padding-bottom: 30px;

                .section_details {
                    h2 {
                        color: $secondary-color;
                        font-weight: 500;
                        padding-bottom: 10px;

                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .form_group {

                    .form_group_flex {
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;

                        .unit_system_field,
                        .weight_unit_field {
                            width: 50%;
                        }

                    }

                    .form_group_field {


                        display: grid;
                        grid-template-rows: auto;
                        padding-bottom: 20px;

                        label {
                            padding-bottom: 10px;
                            font-size: 14px;
                        }

                        p {
                            padding-top: 10px;
                            font-size: 12px;
                        }

                        input {
                            background: $text-color-light;
                            border-radius: 15px;
                            border: none;
                            padding: 12px;
                            font-size: 14px;
                            color: $primary-color;
                        }

                        input:focus {
                            outline-color: $primary-color;
                        }

                        select {
                            background: white;
                            border-radius: 15px;
                            border: none;
                            padding: 15px;
                            font-size: 14px;
                            color: $primary-color;

                            option {
                                color: black;
                            }
                        }

                        select:focus {
                            outline-color: $primary-color;
                        }

                        textarea {
                            width: 98%;
                            background: white;
                            border-radius: 15px;
                            border: none;
                            padding: 15px;
                            font-size: 16px;
                            color: $primary-color;
                        }

                        textarea:focus {
                            outline-color: $primary-color;
                        }

                    }
                }

            }
        }
    }
}

.shippingSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

        .shipping_header_text {
            font-size: 14px;
            margin-top: 16px;
        }

        .shipping_container,
        .pickup_container {
            margin-top: 30px;
            background: $background-color-light;
            padding: 10px;
            border-radius: 12px;

            .delivery {
                .delivery_header {
                    .delivery_title {
                        color: $secondary-color;
                        font-weight: 500;
                        padding-bottom: 5px;
                        font-size: 16px;
                    }

                    .delivery_explained {
                        font-size: 14px;
                    }
                }

                .delivery_location {
                    .delivery_location_header {
                        padding-top: 15px;
                        font-weight: 700;
                        font-size: 14px;
                    }

                    .delivery_location_card {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 14px;

                        .delivery_location_card_container {
                            display: flex;
                            justify-content: space-between;
                            gap: 20px;

                            .delivery_location_icon {
                                .icon {
                                    background: $text-color-light;
                                    padding: 10px 14px;
                                    border-radius: 8px;
                                    color: $secondary-button-color;

                                    .iconLocation {
                                        font-size: 24px;
                                    }
                                }
                            }

                            .delivery_location_details_container {
                                .delivery_location_details {
                                    .delivery_location_name {
                                        font-weight: 600;
                                        font-size: 18px;
                                    }

                                    .delivery_location_address {
                                        padding-top: 10px;
                                        font-size: 16px;
                                        width:500px;
                                    }
                                }
                            }

                        }

                        .tag {
                            padding: 5px;
                            font-size: 14px;
                            border-radius: 5px;
                            font-weight: 700;
                            color: $secondary-color;
                        }

                        .delivery_manage_button {
                            
                                font-size: 12px;
                                border-radius: 8px;
                                background: $secondary-button-color;
                                color: $links-color;
                                padding: 5px 8px;
                                font-weight: 500;
                            
                        }
                    }
                }
            }

        }
    }
}

.locationSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

        .locationSetting-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .location_explained {
            font-size: 14px;
        }

        .location_items_container {
            margin-top: 30px;
            background: $background-color-light;
            padding: 10px;
            border-radius: 12px;

            .location_items_container_title {
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 14px;
            }

            .location_items {
                .locationItem {
                    display: flex;
                    gap: 20px;
                    border-bottom: 2px solid #c5c5c5;
                    padding: 22px 18px;

                    .icon_container {


                        .icon {
                            background: $text-color-light;
                            padding: 10px 14px;
                            border-radius: 8px;
                            color: $secondary-button-color;

                            .iconLocation {
                                font-size: 24px;
                            }
                        }
                    }

                }

                .locationItem:nth-last-child(1) {
                    border-bottom: none;
                }

                .location_details {
                    .location_details_header {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .title {
                            font-weight: 600;
                            font-size: 18px;
                        }

                        .default {
                            padding: 5px;
                            font-size: 14px;
                            border-radius: 5px;
                            font-weight: 700;
                            color: $secondary-color;
                        }
                    }

                    .address {
                        padding-top: 10px;
                        font-size: 16px;
                    }
                }

            }

        }

        .default_item_selector {
            margin-top: 30px;
            background: $background-color-light;
            padding: 10px;
            border-radius: 12px;

            .default_item_container {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 12px;
            }

            .location_items_container_title {
                font-weight: 500;
                font-size: 14px;
            }
        }

    }
}

.accountSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

        .account_setting_header {
            margin-bottom: 50px;
        }

        .account_overview_container,
        .account_and_permissions,
        .login_services,
        .inventory_status {
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 100px;
            padding-bottom: 30px;

            .account_detail_title {
                h2 {
                    color: $secondary-color;
                    font-weight: 500;
                    padding-bottom: 10px;

                    font-size: 16px;
                }

                p {
                    font-size: 14px;

                    .external_link {
                        color: $links-color;
                        text-decoration: none;
                    }
                }
            }

            .account_overview_card_container {
                background: $background-color-light;
                padding: 20px;
                border-radius: 12px;

                .account_overview_cards {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    gap: 100px;

                    .account_overview_card {
                        .account_overview_card_title {
                            margin-bottom: 15px;
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                }
            }

            .account_and_permissions_container {
                .account_owner_container {
                    background: $background-color-light;
                    padding: 10px;
                    border-radius: 12px;

                    .account_owner_title {

                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: 14px;

                    }

                    .account_owner_details {
                        display: flex;
                        gap: 20px;

                        .account_owner_profile_picture {
                            img {
                                width: 48px;
                            }
                        }

                        .account_owner_last_login {
                            .account_owner_email .external_link {
                                color: $links-color;
                                text-decoration: none;
                            }

                            .last_login {
                                font-size: 14px;
                            }
                        }

                    }
                }

            }

            .user_account_management {
                background: $background-color-light;
                padding: 10px;
                border-radius: 12px;
                margin-top: 20px;

                .user_account_management_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .user_account_management_header_title {
                        margin-bottom: 15px;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .user_account_management_buttons {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;

                        .logout_users_butn,
                        .add_users {
                            font-size: 12px;
                            background: $secondary-button-color;
                            padding: 8px;
                            margin: 0;
                            color: $primary-color;
                            font-weight: 500;
                        }
                    }
                }

                .user_account_container {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    .user_account_details {
                        display: flex;
                        gap: 20px;

                        .user_account_profile_picture {
                            img {
                                width: 48px;
                            }
                        }

                        .user_account_name {
                            .username .external_link {
                                color: $links-color;
                                text-decoration: none;
                            }

                            .status {
                                font-size: 14px;
                                padding-top: 8px;
                            }
                        }
                    }

                    .user_access_type {
                        .access_type {
                            font-size: 12px;
                        }
                    }
                }
            }

            .inventory_status_container {
                background: $background-color-light;
                padding: 20px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                text-align: center;
                gap: 50px;

                .close_pause_container {

                    .inventory_status_img {
                        width: 150px;
                        border-radius: 100%;
                        background: $secondary-button-color;
                    }

                    .inventory_status_text {
                        font-size: 14px;
                        padding-top: 30px;
                        width: 280px;
                    }

                    .inventory_status_button {
                        font-size: 14px;
                        background: $secondary-button-color;
                        padding: 8px;
                        margin: 0;
                        color: $primary-color;
                        font-weight: 500;
                        margin-top: 40px;
                    }
                }
            }


        }
    }
}

.filesSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

    }
}

.billingSetting {
    background-color: $background-color;

    .main-container {
        padding-bottom: 20px;

    }
}