@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

Link {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

p.num {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

p.card-num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

button {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.analytics-widget-container h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.analytics-widget-container p.num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

.generalSetting {
  background-color: #EDE4E0;
}
.generalSetting .main-container {
  padding-bottom: 20px;
}
.generalSetting .main-container .generalSetting-header {
  margin-bottom: 50px;
}
.generalSetting .main-container form {
  display: flex;
  justify-content: center;
}
.generalSetting .main-container form .button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.generalSetting .main-container form .company_information,
.generalSetting .main-container form .company_address_information,
.generalSetting .main-container form .standards_formats,
.generalSetting .main-container form .store_currency {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 100px;
  padding-bottom: 30px;
}
.generalSetting .main-container form .company_information .section_details h2,
.generalSetting .main-container form .company_address_information .section_details h2,
.generalSetting .main-container form .standards_formats .section_details h2,
.generalSetting .main-container form .store_currency .section_details h2 {
  color: #68B984;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 16px;
}
.generalSetting .main-container form .company_information .section_details p,
.generalSetting .main-container form .company_address_information .section_details p,
.generalSetting .main-container form .standards_formats .section_details p,
.generalSetting .main-container form .store_currency .section_details p {
  font-size: 14px;
}
.generalSetting .main-container form .company_information .form_group .form_group_flex,
.generalSetting .main-container form .company_address_information .form_group .form_group_flex,
.generalSetting .main-container form .standards_formats .form_group .form_group_flex,
.generalSetting .main-container form .store_currency .form_group .form_group_flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.generalSetting .main-container form .company_information .form_group .form_group_flex .unit_system_field,
.generalSetting .main-container form .company_information .form_group .form_group_flex .weight_unit_field,
.generalSetting .main-container form .company_address_information .form_group .form_group_flex .unit_system_field,
.generalSetting .main-container form .company_address_information .form_group .form_group_flex .weight_unit_field,
.generalSetting .main-container form .standards_formats .form_group .form_group_flex .unit_system_field,
.generalSetting .main-container form .standards_formats .form_group .form_group_flex .weight_unit_field,
.generalSetting .main-container form .store_currency .form_group .form_group_flex .unit_system_field,
.generalSetting .main-container form .store_currency .form_group .form_group_flex .weight_unit_field {
  width: 50%;
}
.generalSetting .main-container form .company_information .form_group .form_group_field,
.generalSetting .main-container form .company_address_information .form_group .form_group_field,
.generalSetting .main-container form .standards_formats .form_group .form_group_field,
.generalSetting .main-container form .store_currency .form_group .form_group_field {
  display: grid;
  grid-template-rows: auto;
  padding-bottom: 20px;
}
.generalSetting .main-container form .company_information .form_group .form_group_field label,
.generalSetting .main-container form .company_address_information .form_group .form_group_field label,
.generalSetting .main-container form .standards_formats .form_group .form_group_field label,
.generalSetting .main-container form .store_currency .form_group .form_group_field label {
  padding-bottom: 10px;
  font-size: 14px;
}
.generalSetting .main-container form .company_information .form_group .form_group_field p,
.generalSetting .main-container form .company_address_information .form_group .form_group_field p,
.generalSetting .main-container form .standards_formats .form_group .form_group_field p,
.generalSetting .main-container form .store_currency .form_group .form_group_field p {
  padding-top: 10px;
  font-size: 12px;
}
.generalSetting .main-container form .company_information .form_group .form_group_field input,
.generalSetting .main-container form .company_address_information .form_group .form_group_field input,
.generalSetting .main-container form .standards_formats .form_group .form_group_field input,
.generalSetting .main-container form .store_currency .form_group .form_group_field input {
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.generalSetting .main-container form .company_information .form_group .form_group_field input:focus,
.generalSetting .main-container form .company_address_information .form_group .form_group_field input:focus,
.generalSetting .main-container form .standards_formats .form_group .form_group_field input:focus,
.generalSetting .main-container form .store_currency .form_group .form_group_field input:focus {
  outline-color: #1F8A70;
}
.generalSetting .main-container form .company_information .form_group .form_group_field select,
.generalSetting .main-container form .company_address_information .form_group .form_group_field select,
.generalSetting .main-container form .standards_formats .form_group .form_group_field select,
.generalSetting .main-container form .store_currency .form_group .form_group_field select {
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.generalSetting .main-container form .company_information .form_group .form_group_field select option,
.generalSetting .main-container form .company_address_information .form_group .form_group_field select option,
.generalSetting .main-container form .standards_formats .form_group .form_group_field select option,
.generalSetting .main-container form .store_currency .form_group .form_group_field select option {
  color: black;
}
.generalSetting .main-container form .company_information .form_group .form_group_field select:focus,
.generalSetting .main-container form .company_address_information .form_group .form_group_field select:focus,
.generalSetting .main-container form .standards_formats .form_group .form_group_field select:focus,
.generalSetting .main-container form .store_currency .form_group .form_group_field select:focus {
  outline-color: #1F8A70;
}
.generalSetting .main-container form .company_information .form_group .form_group_field textarea,
.generalSetting .main-container form .company_address_information .form_group .form_group_field textarea,
.generalSetting .main-container form .standards_formats .form_group .form_group_field textarea,
.generalSetting .main-container form .store_currency .form_group .form_group_field textarea {
  width: 98%;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.generalSetting .main-container form .company_information .form_group .form_group_field textarea:focus,
.generalSetting .main-container form .company_address_information .form_group .form_group_field textarea:focus,
.generalSetting .main-container form .standards_formats .form_group .form_group_field textarea:focus,
.generalSetting .main-container form .store_currency .form_group .form_group_field textarea:focus {
  outline-color: #1F8A70;
}

.shippingSetting {
  background-color: #EDE4E0;
}
.shippingSetting .main-container {
  padding-bottom: 20px;
}
.shippingSetting .main-container .shipping_header_text {
  font-size: 14px;
  margin-top: 16px;
}
.shippingSetting .main-container .shipping_container,
.shippingSetting .main-container .pickup_container {
  margin-top: 30px;
  background: #d7d7d7;
  padding: 10px;
  border-radius: 12px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_header .delivery_title,
.shippingSetting .main-container .pickup_container .delivery .delivery_header .delivery_title {
  color: #68B984;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 16px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_header .delivery_explained,
.shippingSetting .main-container .pickup_container .delivery .delivery_header .delivery_explained {
  font-size: 14px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_header,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_header {
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_icon .icon,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_icon .icon {
  background: white;
  padding: 10px 14px;
  border-radius: 8px;
  color: #bdd8c6;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_icon .icon .iconLocation,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_icon .icon .iconLocation {
  font-size: 24px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_details_container .delivery_location_details .delivery_location_name,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_details_container .delivery_location_details .delivery_location_name {
  font-weight: 600;
  font-size: 18px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_details_container .delivery_location_details .delivery_location_address,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_location_card_container .delivery_location_details_container .delivery_location_details .delivery_location_address {
  padding-top: 10px;
  font-size: 16px;
  width: 500px;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .tag,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .tag {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  color: #68B984;
}
.shippingSetting .main-container .shipping_container .delivery .delivery_location .delivery_location_card .delivery_manage_button button,
.shippingSetting .main-container .pickup_container .delivery .delivery_location .delivery_location_card .delivery_manage_button button {
  font-size: 12px;
  border-radius: 8px;
  background: #bdd8c6;
  color: #1aa108;
  padding: 5px 8px;
  font-weight: 500;
}

.locationSetting {
  background-color: #EDE4E0;
}
.locationSetting .main-container {
  padding-bottom: 20px;
}
.locationSetting .main-container .locationSetting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.locationSetting .main-container .location_explained {
  font-size: 14px;
}
.locationSetting .main-container .location_items_container {
  margin-top: 30px;
  background: #d7d7d7;
  padding: 10px;
  border-radius: 12px;
}
.locationSetting .main-container .location_items_container .location_items_container_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
}
.locationSetting .main-container .location_items_container .location_items .locationItem {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid #c5c5c5;
  padding: 22px 18px;
}
.locationSetting .main-container .location_items_container .location_items .locationItem .icon_container .icon {
  background: white;
  padding: 10px 14px;
  border-radius: 8px;
  color: #bdd8c6;
}
.locationSetting .main-container .location_items_container .location_items .locationItem .icon_container .icon .iconLocation {
  font-size: 24px;
}
.locationSetting .main-container .location_items_container .location_items .locationItem:nth-last-child(1) {
  border-bottom: none;
}
.locationSetting .main-container .location_items_container .location_items .location_details .location_details_header {
  display: flex;
  align-items: center;
  gap: 30px;
}
.locationSetting .main-container .location_items_container .location_items .location_details .location_details_header .title {
  font-weight: 600;
  font-size: 18px;
}
.locationSetting .main-container .location_items_container .location_items .location_details .location_details_header .default {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  color: #68B984;
}
.locationSetting .main-container .location_items_container .location_items .location_details .address {
  padding-top: 10px;
  font-size: 16px;
}
.locationSetting .main-container .default_item_selector {
  margin-top: 30px;
  background: #d7d7d7;
  padding: 10px;
  border-radius: 12px;
}
.locationSetting .main-container .default_item_selector .default_item_container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
}
.locationSetting .main-container .default_item_selector .location_items_container_title {
  font-weight: 500;
  font-size: 14px;
}
.locationSetting .main-container .default_item_selector .default_item_button button {
  font-size: 12px;
  border-radius: 8px;
  background: #bdd8c6;
}

.accountSetting {
  background-color: #EDE4E0;
}
.accountSetting .main-container {
  padding-bottom: 20px;
}
.accountSetting .main-container .account_setting_header {
  margin-bottom: 50px;
}
.accountSetting .main-container .account_overview_container,
.accountSetting .main-container .account_and_permissions,
.accountSetting .main-container .login_services,
.accountSetting .main-container .inventory_status {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 100px;
  padding-bottom: 30px;
}
.accountSetting .main-container .account_overview_container .account_detail_title h2,
.accountSetting .main-container .account_and_permissions .account_detail_title h2,
.accountSetting .main-container .login_services .account_detail_title h2,
.accountSetting .main-container .inventory_status .account_detail_title h2 {
  color: #68B984;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 16px;
}
.accountSetting .main-container .account_overview_container .account_detail_title p,
.accountSetting .main-container .account_and_permissions .account_detail_title p,
.accountSetting .main-container .login_services .account_detail_title p,
.accountSetting .main-container .inventory_status .account_detail_title p {
  font-size: 14px;
}
.accountSetting .main-container .account_overview_container .account_detail_title p .external_link,
.accountSetting .main-container .account_and_permissions .account_detail_title p .external_link,
.accountSetting .main-container .login_services .account_detail_title p .external_link,
.accountSetting .main-container .inventory_status .account_detail_title p .external_link {
  color: #1aa108;
  text-decoration: none;
}
.accountSetting .main-container .account_overview_container .account_overview_card_container,
.accountSetting .main-container .account_and_permissions .account_overview_card_container,
.accountSetting .main-container .login_services .account_overview_card_container,
.accountSetting .main-container .inventory_status .account_overview_card_container {
  background: #d7d7d7;
  padding: 20px;
  border-radius: 12px;
}
.accountSetting .main-container .account_overview_container .account_overview_card_container .account_overview_cards,
.accountSetting .main-container .account_and_permissions .account_overview_card_container .account_overview_cards,
.accountSetting .main-container .login_services .account_overview_card_container .account_overview_cards,
.accountSetting .main-container .inventory_status .account_overview_card_container .account_overview_cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 100px;
}
.accountSetting .main-container .account_overview_container .account_overview_card_container .account_overview_cards .account_overview_card .account_overview_card_title,
.accountSetting .main-container .account_and_permissions .account_overview_card_container .account_overview_cards .account_overview_card .account_overview_card_title,
.accountSetting .main-container .login_services .account_overview_card_container .account_overview_cards .account_overview_card .account_overview_card_title,
.accountSetting .main-container .inventory_status .account_overview_card_container .account_overview_cards .account_overview_card .account_overview_card_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container {
  background: #d7d7d7;
  padding: 10px;
  border-radius: 12px;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container .account_owner_title,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container .account_owner_title,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container .account_owner_title,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container .account_owner_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container .account_owner_details,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container .account_owner_details,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container .account_owner_details,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container .account_owner_details {
  display: flex;
  gap: 20px;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_profile_picture img,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_profile_picture img,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_profile_picture img,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_profile_picture img {
  width: 48px;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .account_owner_email .external_link,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .account_owner_email .external_link,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .account_owner_email .external_link,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .account_owner_email .external_link {
  color: #1aa108;
  text-decoration: none;
}
.accountSetting .main-container .account_overview_container .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .last_login,
.accountSetting .main-container .account_and_permissions .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .last_login,
.accountSetting .main-container .login_services .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .last_login,
.accountSetting .main-container .inventory_status .account_and_permissions_container .account_owner_container .account_owner_details .account_owner_last_login .last_login {
  font-size: 14px;
}
.accountSetting .main-container .account_overview_container .user_account_management,
.accountSetting .main-container .account_and_permissions .user_account_management,
.accountSetting .main-container .login_services .user_account_management,
.accountSetting .main-container .inventory_status .user_account_management {
  background: #d7d7d7;
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_management_header,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_management_header,
.accountSetting .main-container .login_services .user_account_management .user_account_management_header,
.accountSetting .main-container .inventory_status .user_account_management .user_account_management_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_management_header .user_account_management_header_title,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_management_header .user_account_management_header_title,
.accountSetting .main-container .login_services .user_account_management .user_account_management_header .user_account_management_header_title,
.accountSetting .main-container .inventory_status .user_account_management .user_account_management_header .user_account_management_header_title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_management_header .user_account_management_buttons,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_management_header .user_account_management_buttons,
.accountSetting .main-container .login_services .user_account_management .user_account_management_header .user_account_management_buttons,
.accountSetting .main-container .inventory_status .user_account_management .user_account_management_header .user_account_management_buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_management_header .user_account_management_buttons .logout_users_butn,
.accountSetting .main-container .account_overview_container .user_account_management .user_account_management_header .user_account_management_buttons .add_users,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_management_header .user_account_management_buttons .logout_users_butn,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_management_header .user_account_management_buttons .add_users,
.accountSetting .main-container .login_services .user_account_management .user_account_management_header .user_account_management_buttons .logout_users_butn,
.accountSetting .main-container .login_services .user_account_management .user_account_management_header .user_account_management_buttons .add_users,
.accountSetting .main-container .inventory_status .user_account_management .user_account_management_header .user_account_management_buttons .logout_users_butn,
.accountSetting .main-container .inventory_status .user_account_management .user_account_management_header .user_account_management_buttons .add_users {
  font-size: 12px;
  background: #bdd8c6;
  padding: 8px;
  margin: 0;
  color: #1F8A70;
  font-weight: 500;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container,
.accountSetting .main-container .login_services .user_account_management .user_account_container,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container .user_account_details,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container .user_account_details,
.accountSetting .main-container .login_services .user_account_management .user_account_container .user_account_details,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container .user_account_details {
  display: flex;
  gap: 20px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container .user_account_details .user_account_profile_picture img,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container .user_account_details .user_account_profile_picture img,
.accountSetting .main-container .login_services .user_account_management .user_account_container .user_account_details .user_account_profile_picture img,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container .user_account_details .user_account_profile_picture img {
  width: 48px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container .user_account_details .user_account_name .username .external_link,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container .user_account_details .user_account_name .username .external_link,
.accountSetting .main-container .login_services .user_account_management .user_account_container .user_account_details .user_account_name .username .external_link,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container .user_account_details .user_account_name .username .external_link {
  color: #1aa108;
  text-decoration: none;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container .user_account_details .user_account_name .status,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container .user_account_details .user_account_name .status,
.accountSetting .main-container .login_services .user_account_management .user_account_container .user_account_details .user_account_name .status,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container .user_account_details .user_account_name .status {
  font-size: 14px;
  padding-top: 8px;
}
.accountSetting .main-container .account_overview_container .user_account_management .user_account_container .user_access_type .access_type,
.accountSetting .main-container .account_and_permissions .user_account_management .user_account_container .user_access_type .access_type,
.accountSetting .main-container .login_services .user_account_management .user_account_container .user_access_type .access_type,
.accountSetting .main-container .inventory_status .user_account_management .user_account_container .user_access_type .access_type {
  font-size: 12px;
}
.accountSetting .main-container .account_overview_container .inventory_status_container,
.accountSetting .main-container .account_and_permissions .inventory_status_container,
.accountSetting .main-container .login_services .inventory_status_container,
.accountSetting .main-container .inventory_status .inventory_status_container {
  background: #d7d7d7;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.accountSetting .main-container .account_overview_container .inventory_status_container .close_pause_container .inventory_status_img,
.accountSetting .main-container .account_and_permissions .inventory_status_container .close_pause_container .inventory_status_img,
.accountSetting .main-container .login_services .inventory_status_container .close_pause_container .inventory_status_img,
.accountSetting .main-container .inventory_status .inventory_status_container .close_pause_container .inventory_status_img {
  width: 150px;
  border-radius: 100%;
  background: #bdd8c6;
}
.accountSetting .main-container .account_overview_container .inventory_status_container .close_pause_container .inventory_status_text,
.accountSetting .main-container .account_and_permissions .inventory_status_container .close_pause_container .inventory_status_text,
.accountSetting .main-container .login_services .inventory_status_container .close_pause_container .inventory_status_text,
.accountSetting .main-container .inventory_status .inventory_status_container .close_pause_container .inventory_status_text {
  font-size: 14px;
  padding-top: 30px;
  width: 280px;
}
.accountSetting .main-container .account_overview_container .inventory_status_container .close_pause_container .inventory_status_button,
.accountSetting .main-container .account_and_permissions .inventory_status_container .close_pause_container .inventory_status_button,
.accountSetting .main-container .login_services .inventory_status_container .close_pause_container .inventory_status_button,
.accountSetting .main-container .inventory_status .inventory_status_container .close_pause_container .inventory_status_button {
  font-size: 14px;
  background: #bdd8c6;
  padding: 8px;
  margin: 0;
  color: #1F8A70;
  font-weight: 500;
  margin-top: 40px;
}

.filesSetting {
  background-color: #EDE4E0;
}
.filesSetting .main-container {
  padding-bottom: 20px;
}

.billingSetting {
  background-color: #EDE4E0;
}
.billingSetting .main-container {
  padding-bottom: 20px;
}/*# sourceMappingURL=otherSettings.css.map */