@import '../../../styles/colors/Colors.scss';
@import '../../../styles/typography/Typography.scss';

.login_form_container {
    background-color: $background-color;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    margin: 0 auto;

    h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
    }

    form {
        margin-top: 30px;
        display: grid;
        justify-items: center;

        .email_field,
        .password_field {
            display: grid;
            grid-auto-columns: auto;
            gap: 15px;
            margin-bottom: 30px;

            label {
                font-weight: 500;
                text-align: left;
            }

            input {
                width: 300px;
                height: 30px;
                padding: 10px;
                border-radius: 12px;
                border: none;
                background-color: $tertiary-color;
            }

            input:focus {
                outline-color: $primary-color;
            }

            span.forgot_password {
                font-size: 14px;
                display: flex;
                justify-content: center;
            }
        }

        .password_field .password {
            display: flex;

            position: relative;

            button {
                background: none;
                position: absolute;
                right: 0%;

                img {
                    width: 28px;
                }
            }
        }

        .buttons {
            display: grid;
            grid-auto-columns: auto;
            text-align: center;
            justify-items: center;
            align-items: center;
            gap: 20px;

            button {
                width: 300px;
            }

            .login,
            .google-signin {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 16px;
                }
            }

            .google-signin {
                background: $tertiary-color;
            }
        }
    }

    .signup_external_link {
        font-size: 14px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
}

.signup_form_container {
    background-color: $background-color;
    padding: 10px;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    overflow-y: scroll;

    h1 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-top: 10px;
    }

    form {
        margin-top: 30px;
        display: grid;
        justify-items: center;

        .fname_field,
        .lname_field,
        .email_field,
        .password_field,
        .confirm_password_field,
        .company_name_field {
            display: grid;
            grid-auto-columns: auto;
            gap: 15px;
            margin-bottom: 30px;

            label {
                font-weight: 500;
                text-align: left;
            }

            input {
                width: 300px;
                height: 30px;
                padding: 10px;
                border-radius: 12px;
                border: none;
                background-color: $tertiary-color;
            }

            input:focus {
                outline-color: $primary-color;
            }
        }

        .password_field .password {
            display: flex;

            position: relative;

            button {
                background: none;
                position: absolute;
                right: 0%;

                img {
                    width: 28px;
                }
            }
        }
        .confirm_password_field .confirmPassword {
            display: flex;

            position: relative;

            button {
                background: none;
                position: absolute;
                right: 0%;

                img {
                    width: 28px;
                }
            }
        }

        .buttons {
            display: grid;
            grid-auto-columns: auto;
            text-align: center;
            justify-items: center;
            align-items: center;
            gap: 20px;

            button {
                width: 300px;
            }

            .login,
            .google-signin {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 16px;
                }
            }

            .google-signin {
                background: $tertiary-color;
            }
        }
    }

    .login_external_link {
        font-size: 14px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }
}

.new_item_form_container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;

        .volume,
        .weight {
            display: flex;
            gap: 12px;

            select {
                width: 320px;
            }
        }

        .dimensions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
        }

        .datetime_picker {
            display: grid;
            grid-template-rows: 1fr;
            row-gap: 20px;
        }

        input {
            width: 300px;
            background: $text-color-light;
            border-radius: 15px;
            border: none;
            padding: 12px;
            font-size: 14px;
            color: $primary-color;
        }

        input:focus {
            outline-color: $primary-color;
        }

        select {
            width: 300px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 14px;
            color: $primary-color;

            option {
                color: black;
            }
        }

        select:focus {
            outline-color: $primary-color;
        }

        textarea {
            width: 280px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 16px;
            color: $primary-color;
        }

        textarea:focus {
            outline-color: $primary-color;
        }

        .submit-btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        button {
            width: 310px;
            font-size: 16px;
            padding: 15px;
            background: $primary-color;
            border-radius: 15px;
            color: $text-color-light;
            font-weight: 600;
            align-self: center;
            display: flex;
            justify-content: center;
        }
    }
}

.new_user_form_container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;

        .datetime_picker {
            display: grid;
            grid-template-rows: 1fr;
            row-gap: 20px;
        }

        input {
            width: 300px;
            background: $text-color-light;
            border-radius: 15px;
            border: none;
            padding: 12px;
            font-size: 14px;
            color: $primary-color;
        }

        input:focus {
            outline-color: $primary-color;
        }

        select {
            width: 300px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 14px;
            color: $primary-color;

            option {
                color: black;
            }
        }

        select:focus {
            outline-color: $primary-color;
        }

        textarea {
            width: 280px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 16px;
            color: $primary-color;
        }

        textarea:focus {
            outline-color: $primary-color;
        }

        .submit-btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        button {
            width: 310px;
            font-size: 16px;
            padding: 15px;
            background: $primary-color;
            border-radius: 15px;
            color: $text-color-light;
            font-weight: 600;
            align-self: center;
            display: flex;
            justify-content: center;
        }
    }
}

.new_vendor_form_container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;

        .datetime_picker {
            display: grid;
            grid-template-rows: 1fr;
            row-gap: 20px;
        }

        input {
            width: 300px;
            background: $text-color-light;
            border-radius: 15px;
            border: none;
            padding: 12px;
            font-size: 14px;
            color: $primary-color;
        }

        input:focus {
            outline-color: $primary-color;
        }

        select {
            width: 300px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 14px;
            color: $primary-color;

            option {
                color: black;
            }
        }

        select:focus {
            outline-color: $primary-color;
        }

        textarea {
            width: 280px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 16px;
            color: $primary-color;
        }

        textarea:focus {
            outline-color: $primary-color;
        }

        .submit-btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        button {
            width: 310px;
            font-size: 16px;
            padding: 15px;
            background: $primary-color;
            border-radius: 15px;
            color: $text-color-light;
            font-weight: 600;
            align-self: center;
            display: flex;
            justify-content: center;
        }
    }
}

.new_order_form_container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;

        .datetime_picker {
            display: grid;
            grid-template-rows: 1fr;
            row-gap: 20px;
        }

        input {
            width: 300px;
            background: $text-color-light;
            border-radius: 15px;
            border: none;
            padding: 12px;
            font-size: 14px;
            color: $primary-color;
        }

        input:focus {
            outline-color: $primary-color;
        }

        select {
            width: 300px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 14px;
            color: $primary-color;

            option {
                color: black;
            }
        }

        select:focus {
            outline-color: $primary-color;
        }

        textarea {
            width: 280px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 16px;
            color: $primary-color;
        }

        textarea:focus {
            outline-color: $primary-color;
        }

        .submit-btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        button {
            width: 310px;
            font-size: 16px;
            padding: 15px;
            background: $primary-color;
            border-radius: 15px;
            color: $text-color-light;
            font-weight: 600;
            align-self: center;
            display: flex;
            justify-content: center;
        }
    }
}

.new_supply_order_form_container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    form {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 auto;

        .datetime_picker {
            display: grid;
            grid-template-rows: 1fr;
            row-gap: 20px;
        }

        input {
            width: 300px;
            background: $text-color-light;
            border-radius: 15px;
            border: none;
            padding: 12px;
            font-size: 14px;
            color: $primary-color;
        }

        input:focus {
            outline-color: $primary-color;
        }

        select {
            width: 300px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 14px;
            color: $primary-color;

            option {
                color: black;
            }
        }

        select:focus {
            outline-color: $primary-color;
        }

        textarea {
            width: 280px;
            background: white;
            border-radius: 15px;
            border: none;
            padding: 15px;
            font-size: 16px;
            color: $primary-color;
        }

        textarea:focus {
            outline-color: $primary-color;
        }

        .submit-btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        button {
            width: 310px;
            font-size: 16px;
            padding: 15px;
            background: $primary-color;
            border-radius: 15px;
            color: $text-color-light;
            font-weight: 600;
            align-self: center;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .signup_form_container {
        padding: 10px;
        border-radius: 15px;
        height: 799px;
        width: 400px;
        margin: 0 auto;

        h1 {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            margin-top: 10px;
        }

        form {
            margin-top: 30px;
            display: grid;
            justify-items: center;

            .username_field,
            .password_field,
            .confirm_password_field,
            .company_name_field {
                display: grid;
                grid-auto-columns: auto;
                gap: 15px;
                margin-bottom: 30px;

                label {
                    font-weight: 500;
                    text-align: left;
                }

                input {
                    width: 300px;
                    height: 30px;
                    padding: 10px;
                    border-radius: 12px;
                    border: none;
                    background-color: $tertiary-color;
                }

                input:focus {
                    outline-color: $primary-color;
                }
            }

            .buttons {
                display: grid;
                grid-auto-columns: auto;
                text-align: center;
                justify-items: center;
                align-items: center;
                gap: 20px;

                button {
                    width: 300px;
                }

                .login,
                .google-signin {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 16px;
                    }
                }

                .google-signin {
                    background: $tertiary-color;
                }
            }
        }

        .login_external_link {
            font-size: 14px;
            padding-top: 15px;
            display: flex;
            justify-content: center;
        }
    }
}