@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

Link {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

h2 {
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

p.num {
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
}

p.card-num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

button {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.analytics-widget-container h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}
.analytics-widget-container p.num {
  font-weight: 600;
  font-size: 30px;
  line-height: 73px;
  color: #000000;
}

.new_item_form_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.new_item_form_container form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
.new_item_form_container form .volume,
.new_item_form_container form .weight {
  display: flex;
  gap: 12px;
}
.new_item_form_container form .volume select,
.new_item_form_container form .weight select {
  width: 320px;
}
.new_item_form_container form .dimensions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.new_item_form_container form .datetime_picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.new_item_form_container form input {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.new_item_form_container form input:focus {
  outline-color: #1F8A70;
}
.new_item_form_container form select {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.new_item_form_container form select option {
  color: black;
}
.new_item_form_container form select:focus {
  outline-color: #1F8A70;
}
.new_item_form_container form textarea {
  width: 280px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.new_item_form_container form textarea:focus {
  outline-color: #1F8A70;
}
.new_item_form_container form .submit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.new_item_form_container form button {
  width: 310px;
  font-size: 16px;
  padding: 15px;
  background: #1F8A70;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  align-self: center;
  display: flex;
  justify-content: center;
}

.new_user_form_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.new_user_form_container form {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
.new_user_form_container form .form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.new_user_form_container form .datetime_picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.new_user_form_container form input {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.new_user_form_container form input:focus {
  outline-color: #1F8A70;
}
.new_user_form_container form select {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.new_user_form_container form select option {
  color: black;
}
.new_user_form_container form select:focus {
  outline-color: #1F8A70;
}
.new_user_form_container form textarea {
  width: 280px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.new_user_form_container form textarea:focus {
  outline-color: #1F8A70;
}
.new_user_form_container form .submit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.new_user_form_container form button {
  width: 310px;
  font-size: 16px;
  padding: 15px;
  background: #1F8A70;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  align-self: center;
  display: flex;
  justify-content: center;
}

.new_vendor_form_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.new_vendor_form_container form {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
.new_vendor_form_container form .form_fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.new_vendor_form_container form .datetime_picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.new_vendor_form_container form input {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.new_vendor_form_container form input:focus {
  outline-color: #1F8A70;
}
.new_vendor_form_container form select {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.new_vendor_form_container form select option {
  color: black;
}
.new_vendor_form_container form select:focus {
  outline-color: #1F8A70;
}
.new_vendor_form_container form textarea {
  width: 280px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.new_vendor_form_container form textarea:focus {
  outline-color: #1F8A70;
}
.new_vendor_form_container form .submit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.new_vendor_form_container form button {
  width: 310px;
  font-size: 16px;
  padding: 15px;
  background: #1F8A70;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  align-self: center;
  display: flex;
  justify-content: center;
}

.new_order_form_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.new_order_form_container form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
.new_order_form_container form .datetime_picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.new_order_form_container form input {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.new_order_form_container form input:focus {
  outline-color: #1F8A70;
}
.new_order_form_container form select {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.new_order_form_container form select option {
  color: black;
}
.new_order_form_container form select:focus {
  outline-color: #1F8A70;
}
.new_order_form_container form textarea {
  width: 280px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.new_order_form_container form textarea:focus {
  outline-color: #1F8A70;
}
.new_order_form_container form .submit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.new_order_form_container form button {
  width: 310px;
  font-size: 16px;
  padding: 15px;
  background: #1F8A70;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  align-self: center;
  display: flex;
  justify-content: center;
}

.new_supply_order_form_container {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.new_supply_order_form_container form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}
.new_supply_order_form_container form .datetime_picker {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.new_supply_order_form_container form input {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #1F8A70;
}
.new_supply_order_form_container form input:focus {
  outline-color: #1F8A70;
}
.new_supply_order_form_container form select {
  width: 300px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 14px;
  color: #1F8A70;
}
.new_supply_order_form_container form select option {
  color: black;
}
.new_supply_order_form_container form select:focus {
  outline-color: #1F8A70;
}
.new_supply_order_form_container form textarea {
  width: 280px;
  background: white;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #1F8A70;
}
.new_supply_order_form_container form textarea:focus {
  outline-color: #1F8A70;
}
.new_supply_order_form_container form .submit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.new_supply_order_form_container form button {
  width: 310px;
  font-size: 16px;
  padding: 15px;
  background: #1F8A70;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  align-self: center;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1400px) {
  .signup_form_container {
    padding: 10px;
    border-radius: 15px;
    height: 799px;
    width: 400px;
    margin: 0 auto;
  }
  .signup_form_container h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }
  .signup_form_container form {
    margin-top: 30px;
    display: grid;
    justify-items: center;
  }
  .signup_form_container form .username_field,
  .signup_form_container form .password_field,
  .signup_form_container form .confirm_password_field,
  .signup_form_container form .company_name_field {
    display: grid;
    grid-auto-columns: auto;
    gap: 15px;
    margin-bottom: 30px;
  }
  .signup_form_container form .username_field label,
  .signup_form_container form .password_field label,
  .signup_form_container form .confirm_password_field label,
  .signup_form_container form .company_name_field label {
    font-weight: 500;
    text-align: left;
  }
  .signup_form_container form .username_field input,
  .signup_form_container form .password_field input,
  .signup_form_container form .confirm_password_field input,
  .signup_form_container form .company_name_field input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #D6DCD8;
  }
  .signup_form_container form .username_field input:focus,
  .signup_form_container form .password_field input:focus,
  .signup_form_container form .confirm_password_field input:focus,
  .signup_form_container form .company_name_field input:focus {
    outline-color: #1F8A70;
  }
  .signup_form_container form .buttons {
    display: grid;
    grid-auto-columns: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
  }
  .signup_form_container form .buttons button {
    width: 300px;
  }
  .signup_form_container form .buttons .login,
  .signup_form_container form .buttons .google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup_form_container form .buttons .login img,
  .signup_form_container form .buttons .google-signin img {
    width: 16px;
  }
  .signup_form_container form .buttons .google-signin {
    background: #D6DCD8;
  }
  .signup_form_container .login_external_link {
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=forms.css.map */