@import '../../../styles/colors/colors.scss';
@import '../../../styles/typography/Typography.scss';


.home {
    background-color: $background-color;

    .main-container {
        .dashboardCardContainer {
            .dashboardCards{
                display: flex;
                justify-content: left;
                gap: 100px;
            }
        }

        .table-header {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .table-container {
            margin-top: 20px;
        }
    }
}